{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>About Our Website</h1>
        <h2>CookWithit</h2>
        <p>Welcome to Your Cooking World! We are passionate about bringing delicious recipes and culinary inspiration to your kitchen.</p>
        <p>Our team of experienced chefs and food enthusiasts is dedicated to helping you explore the world of cooking, from basic cooking techniques to gourmet creations.</p>
        <p>Whether you're a beginner or a seasoned cook, you'll find a wealth of recipes, tips, and resources to enhance your culinary skills.</p>
  
        {% comment %} <h2>"CookWithit" is the website to upload your favourite recipes and search recipes according to your available ingredients. {% endcomment %}
    </div>

{% endblock content %}